<div class="container helvetica">
  <div class="login-form">
    <h1>Log in.</h1>
    <input type="email" placeholder="Email *" required>
    <input type="password" placeholder="Password *" required>
    <a href="#">Password Help?</a>
    <button type="submit">Log in</button>
    <br>
    <p>Don’t have an account? <a href="#">Create One Now</a></p>
  </div>

  <div class="order-search">
    <h2>New to the Party?</h2>
    <p>Sign up now so you can keep track of your reps, follow bills, and get updates from the floor.</p>
    <br>
    <button type="button">Subscribe</button>
  </div>
</div>