.body {
  font-family: Arial, sans-serif;
  // background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.create-account {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
}

.create-account h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-account input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-account label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 0px; /* Space between checkbox and label text */
  display: flex;
}

.create-account p {
  margin-top: 15px;
  font-size: 12px;
}

.checkbox-container {
  display: flex; /* Aligns the checkbox and label text in a row */
  align-items: baseline; /* Centers the items vertically */
  margin: 10px 0; /* Space above and below the checkbox */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px; /* Space between checkbox and label */
  width: 16px; /* Optional: Set a specific width */
  height: 16px; /* Optional: Set a specific height */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

.checkbox-label {
  font-size: 17px; /* Optional: Set font size for the label */
}