

html, body {
  margin: 0; /* Remove default body margins */
  padding: 0; /* Remove default body padding */
  height: 100%; /* Ensure body takes full height */
  overflow-x: hidden; /* Prevent horizontal scroll if necessary */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.container {
  display: flex; /* Default layout */
  // flex-direction: column; /* Stack items vertically */
  // align-items: center; /* Ensure full width of children */
  padding: 20px; /* Padding around the container */
  margin: 0; /* Reset margins */
  justify-content: space-between;

  // box-sizing: border-box; /* Include padding in total width/height */
}

.create-account {
  // background-color: #f7f7f7;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  text-align: left;
}

.create-account h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-account input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-account label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 0px; /* Space between checkbox and label text */
  display: flex;
}

.create-account p {
  margin-top: 15px;
  font-size: 12px;
}

.checkbox-container {
  display: flex; /* Aligns the checkbox and label text in a row */
  align-items: baseline; /* Centers the items vertically */
  margin: 10px 0; /* Space above and below the checkbox */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px; /* Space between checkbox and label */
  width: 16px; /* Optional: Set a specific width */
  height: 16px; /* Optional: Set a specific height */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

.checkbox-label {
  font-size: 17px; /* Optional: Set font size for the label */
}

.info-tile {
  width: 45%;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 0;
  padding-bottom: 0;
  // margin-left: 50px;
}

@media (max-width: 768px) { /* Media query for mobile devices */
  body {
      flex-direction: column; /* Stack items vertically */
      align-items: stretch; /* Center align items */
      margin: 0;
      padding: 0;
  }

  .create-account, .info-tile {
      width: 100%; /* Full width for mobile */
      margin-bottom: 10px; /* Space between stacked elements */
  }

}

.logo {
  width: 45%;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 0;
  padding-bottom: 0;
}

small {
  display: block; /* Display the error message on a new line */
  color: red; /* Set the color of the error message */
  margin-top: 5px; /* Add space above the error message */
}
