<div class="create-account">
  <h1>Create an Account.</h1>
  <input type="text" placeholder="First Name *" required>
  <input type="text" placeholder="Last Name *" required>
  <input type="email" placeholder="Email *" required>
  <input type="email" placeholder="Confirm Email *" required>
  <input type="password" placeholder="Password *" required>
  <input type="password" placeholder="Confirm Password *" required>
  <label>
    <input type="checkbox">
    Receive emails about new products, sales and store events.
  </label>
  <button type="submit">Create Account</button>
  <p>This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of
      Service</a> apply.</p>
</div>