<div class="body sand">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="create-account b-s-f">
      <h1 class="helvetica heavy">Create a profile</h1>
      <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="First Name *" formControlName="firstName">
        <div *ngIf="createAccountForm.get('firstName')?.invalid && createAccountForm.get('firstName')?.touched">
          <small>First name is required.</small>
        </div>

        <input type="text" placeholder="Last Name *" formControlName="lastName">
        <div *ngIf="createAccountForm.get('lastName')?.invalid && createAccountForm.get('lastName')?.touched">
          <small>Last name is required.</small>
        </div>

        <input type="email" placeholder="Email *" formControlName="email">
        <div *ngIf="createAccountForm.get('email')?.invalid && createAccountForm.get('email')?.touched">
          <small>Valid email is required.</small>
        </div>

        <input type="email" placeholder="Confirm Email *" formControlName="confirmEmail">
        <div *ngIf="emailMismatch">
          <small>Emails do not match.</small>
        </div>

        <input type="text" placeholder="ZIP Code *" formControlName="zipCode">
        <div *ngIf="invalidZIP">
          <small>We need a ZIP to find your reps.</small>
        </div>

        <input type="password" placeholder="Password *" formControlName="password">
        <div
          *ngIf="createAccountForm.get('password')?.hasError('minLength') && createAccountForm.get('password')?.touched">
          <small>Password must be at least 8 characters .</small>
        </div>
        <div
          *ngIf="createAccountForm.get('password')?.hasError('pattern') && createAccountForm.get('password')?.touched">
          <small>Password must include at least one uppercase letter, one number, and one special character</small>
        </div>

        <input type="password" placeholder="Confirm Password *" formControlName="confirmPassword">
        <div *ngIf="passwordMismatch">
          <small>Passwords do not match.</small>
        </div>

        <label class="checkbox-container">
          <input type="checkbox" formControlName="receiveEmails">
          <span class="checkbox-label">Email me about bills I'm interested in.</span>
        </label>

        <button type="submit" [disabled]="createAccountForm.invalid">Join the Party</button>
        <!-- <p>This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of
            Service</a> apply.</p> -->
      </form>
    </div>
    <div class="sand info-tile comfortable padded inline-block helvetica">
      <div style="padding: 3px;" class="mint">
        <div class="padded black white-t">
          <div class="b-d-f mint-b rounded" style="border-radius: 4rem">
            <h3 class="padded flow-text white-t heavy center">Get more for your taxes</h3>
            <p class="bitstream padded center">See what your reps are doing in Congress.</p>
            <br>
            <p class="bitstream padded center">Find bills that make a difference.</p>
            <br>
            <p class="bitstream padded center">Make your taxes work for you.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>