<app-navbar>
</app-navbar>
<app-title></app-title>
<app-divider></app-divider>
<div class="helvetica flex flow-text padded white invert">
  <div class="full padded">
    <p class="glitchtext impact huge center">Welcome to the
      <br>
      Other Party
    </p>
  </div>
  <br>
  <div class="wrap-1600">
    <div class="fourth padded">
      <p>We built this place to cut the spin and give you the facts so you, your family, your friends, and your
        neighbors
        can tell your representatives what they need to do to make better facts.</p>
    </div>
    <br>
    <div class="fourth padded">
      <p>We use AI to track the bills and policies that shape our lives, dissect the details, and
        distill them down to what matters. We don’t feed you answers or tell you what to think. We give you tools to
        shape the future.</p>
    </div>
    <br>
    <div class="fourth padded">
      <p>You’ll find no fluff here. This is political news stripped to the bone, built for
        sharing,
        talking, challenging, and celebrating. We’re here for the people who don’t want a filter, who believe
        that
        thinking for yourself is a lot more interesting than picking a side.</p>
    </div>
    <br>
  </div>
</div>
<div class="white invert">
  <br>
  <br>
</div>
<app-content></app-content>
<app-footer></app-footer>