<app-navbar>
</app-navbar>
<app-title></app-title>
<app-divider></app-divider>
<div class="helvetica flex flow-text padded invert white">
  <div class="full padded">
    <p class="glitchtext impact huge center">Welcome to the
      <br>
      Other Party
    </p>
  </div>
  <br>
  <div class="wrap-1600">
    <div class="fourth padded">
      <p>A good chunk of your paycheck goes to the federal government and Congress decides how
        that money is spent. We want to make sure that you, your family, your friends, and your neighbors have a say.
      </p>
    </div>
    <br>
    <div class="fourth padded">
      <p>Our goal is to help you track and influence Congress. We have opinions but we stay away from analysis and
        speculation. We use AI
        to follow bills and representatives and we do our best to mitigate bias.</p>
    </div>
    <br>
    <div class="fourth padded">
      <p>This is policy stripped to the bone, packaged for you to level the playing field with lobbyists and large
        donors. Your representatives aren't mind readers, so tell them what you think.</p>
    </div>
    <br>
    @if (user) {
    <div class="fourth padded center">
      <p class="neon-text">Godspeed.</p>
    </div>
    }
    @if (!user) {
    <div class="fourth padded center b-b-t">
      <a [routerLink]="['/register']">
        <p class="neon-text">Godspeed.</p>
      </a>
    </div>
    }

  </div>
</div>
<div class="black">
  <br>
  <br>
</div>
<app-content></app-content>
<app-footer></app-footer>