.bitstream {
  padding: 0px 35px !important;
}

.tabs {
  padding: 10px !important;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 45em) {
  .tabs label {
      width: auto !important;
      margin-right: 0;
      margin-top: 0.2rem;
  }
}

.tabs label {
  padding: 0.5rem 1rem;
  display: flex;
}

.invert, img.invert, .invert-h:hover {
  filter: invert(100%);
}