<div class="wrap-1200 emptiness padded">
	<div class="lucida center">
		<h2 class="fluid-text baffle-longer brickbuild mint-t rice-t-s" style="margin: 0; padding: 0;">AI on Congress
		</h2>
	</div>
</div>

<app-divider></app-divider>

<div class="reveal toggle blonk-wrap">
	<input id="blonknav" class="toggle" type="checkbox">
	<label for="blonknav" class="label-toggle blonk-tr shape quadrant bottom-left flex middle mint"><i
			class=""></i></label>
	<div class="toggle-content">
		<div class="bitstream flex">
			<form class="grey-t" name="demoform" action="" method="post">
				<div class="form-group">
					<input type="search" name="search" placeholder="Search for...">
				</div>
			</form>
		</div>
	</div>
</div>