span {
  cursor: pointer;
}

p {
  cursor: pointer;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) { /* Media query for mobile devices */
  .body {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align items */
      // display: flex;
      flex-direction: column;
      overflow-x: hidden;
  }
}

.verbal,
.visual {
  /* Optional styling for verbal and visual elements */
  flex: 1;
  /* Allows these elements to take equal width (optional) */
  // padding: 10px;
  /* Padding to make the elements visible */
  box-sizing: border-box;
}

.interactive {
  /* Optional styling for the interactive element */
  // padding: 10px;
  /* Padding to make the element visible */
  box-sizing: border-box;
  justify-content: space-around;
}

.bill-text-summary {
  word-wrap: break-word;
  /* Breaks long words to fit within the container */
  overflow-wrap: break-word;
  /* Ensures text wrapping is applied to long words */
  white-space: normal;
  /* Ensures the text wraps and does not stay on a single line */
}

.cta {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  padding: 0 77px;
}