<app-navbar></app-navbar>

<app-title></app-title>

<app-divider></app-divider>

<!-- flexbox layout -->

@if (bill) {
<div class="wrap-1600 table-responsive">

  <div class="flex flow-text lucida">
    <!-- two columns -->
    <div class="half padded evenly infinitile">
      <!-- <p class="helvetica larger">Dairy Innovation</p> -->
      <div class="resize-both responsive"><img [src]="sanitize(billSummery.image)" style="max-height: 80%" sanitize>
      </div>
      <br>
      <p class="brutal-text fittext-compress float-right">{{ bill.latest_major_action_date | date}}</p>
      <ul class="tags">
        <li>{{ bill.latest_major_action }}</li>
      </ul>
    </div>
    <div class="half padded">
      <p class="helvetica larger">{{billSummery?.headLine}}</p>
      <br>
      <span class="helvetica keep-all flow-text justify" [innerHTML]="billSummery?.story "></span>
      <br>
      @if (bill?.account?.twitter_account) {
      <button class="infinitile btn-medium" (click)="openTwitter(bill?.account?.twitter_account)">X
        &#64;{{bill?.account?.twitter_account}}</button>
      }

      <br>
      <br>
      @if (bill?.govtrack_url) {
      <button class="river-b sepia-bg small-btn neon-text" (click)="openGovTrack(bill?.govtrack_url)">Track
        &#64;{{bill?.bill_slug}}</button>
      }
      <!-- <a class="neon-text" target="_blank" [href]="bill?.govtrack_url">{{bill?.govtrack_url}}</a> -->
    </div>

  </div>
  <app-content></app-content>
  <p class="spacer"></p>
  <p class="spacer"></p>
  <p class="spacer"></p>
</div>
}


<app-footer></app-footer>