<app-navbar></app-navbar>

<app-title></app-title>

<app-divider></app-divider>

<!-- flexbox layout -->
<div class="wrap-1600">
</div>


@if (this.repResponse.length) {
  <div class="flex flow-text arial">
    <!-- two columns -->
    @for (item of this.repResponse; track $index) {
      <div class="third padded b-s-t black-b">
        <div class="heat fourth padded b-s-t black-b">
          <p class="impact larger">{{item.account.first_name + ' ' + item.account.last_name }}</p>
        </div>
        <br>
        <p class="helvetica larger">Summary</p>
        <div class="third padded black-b b-b-t">
          <br>
          <div class="ul">
            <p><span class="bold">Votes cast</span>: {{item.votes || 0}}</p>
            <br>
            <p><span class="bold">Bills sponsored</span>: {{item.sponsoredBills || 0}}</p>
            <br>
            <p><span class="bold">Bills cosponsored</span>:{{item.cosponsoredBills || 0}}</p>
            <br>
            <p><span class="bold">Bills influenced</span>: {{item.amendments || 0}}</p>
            <br>
          </div>
        </div>
        <br>
        <p class="helvetica larger">Votes</p>
        <div class="third padded black-b b-b-t">
          <br>
          <div class="ul">
            <p>Bill voted on: Vote; ideally a descending list based on all of the arrays in the representatives DB
              (excepting sponsored, cosponsored, and amendments</p>
            <br>
            <p>Bill voted on: Vote; ideally a descending list based on all of the arrays in the representatives DB
              (excepting sponsored, cosponsored, and amendments</p>
            <br>
            <p>Bill voted on: Vote; ideally a descending list based on all of the arrays in the representatives DB
              (excepting sponsored, cosponsored, and amendments</p>
            <br>
          </div>
        </div>
        <br>
        <p class="helvetica larger">Amendments</p>
        <div class="third padded black-b b-b-t">
          <br>
          <div class="ul">
            <p>Proposed amendment - ideally, descending list based on latest date in the amendments array of the
              representatives database</p>
            <br>
            <p>Proposed amendment - ideally, descending list based on latest date in the amendments array of the
              representatives database</p>
            <br>
            <p>Proposed amendement - ideally, descending list based on latest date in the amendments array of the
              representatives database</p>
            <br>
          </div>
        </div>
        <br>
        <p class="helvetica larger">Bills</p>
        <div class="third padded black-b b-b-t">
          <br>
          <div class="ul">
            <p>Education Innovation - ideally, a descending list based on date between bills sponsored and cosponsored</p>
            <br>
            <p>Agricultural Improvements - ideally, a descending list based on date between bills sponsored and cosponsored
            </p>
            <br>
            <p>Job Growth Bill - ideally, a descending list based on date between bills sponsored and cosponsored</p>
            <br>
          </div>
        </div>
      </div>
    }
  
   
  </div>
}

<p class="spacer"></p>

<app-footer></app-footer>