<div class="sand body">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="verify-profile">
      <h1>Change Password.</h1>
      <form [formGroup]="newPasswordFrom" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="One-time Password *" formControlName="otp">
        <div *ngIf="otp?.invalid && otp?.touched">
          <small *ngIf="otp?.errors?.['required']">OTP is required.</small>
          <small *ngIf="otp?.errors?.['pattern']">OTP must be a 6-digit number.</small>
        </div>


        <input type="password" placeholder="Password *" formControlName="password">
        <div *ngIf="newPasswordFrom.get('password')?.invalid && newPasswordFrom.get('password')?.touched">
          <small>Password must be at least 8 characters.</small>
        </div>

        <button class="mint-t" type="submit" [disabled]="newPasswordFrom.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>