span {
  cursor: pointer;
}

p {
  cursor: pointer;
}

.full-height-scrollable-container {
  height: 100vh; /* 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
}

.reps-flex {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.invert, img.invert, .invert-h:hover {
  filter: invert(100%);
}

html, body {
  background-color: #000 !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of child elements */
  justify-content: center; /* Optional: centers the content horizontally */
}

.black, .black-h:hover { 
  background-color: #000 !important; 
}
