<div class="wrap-1600">
  <div class="flow-text lucida flex" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    
    <div class="full-height-scrollable-container half padded black-b b-a-f neon-text shine">
      <div class="bitstream flex">
        <form class="grey-t" [formGroup]="searchForm">
          <div class="form-group">
            <input formControlName="search" type="text" name="search" placeholder="Search for...">
          </div>
        </form>
      </div>

      @if (isSearching) {
      <p class="shine bouncy">Searching...</p>
      <p class="spacer"></p>
      }

      @if (headLines) {
      <div class="ul">
        @for (bill of headLines; track bill.id) {
        <p class="spacer"></p>
        <button class="glitchtext left-align" (click)="changeRoute(bill.bill_id)">
          {{ bill.headLine }}
        </button>
        }
      </div>
      } @else {
      <div class="ul">
        <p class="neon-text">No Headlines</p>
      </div>
      }
    </div>

    @if (stories) { @for (story of stories; track $index && story.bill_id) {
    <div class="padded b-s-t black-b full" (click)="changeRoute(story.bill_id)"
      [ngClass]="$index === 0 ? 'half' : story.className" [routerLink]="['/story', story.bill_id]">
      <p class="impact larger">{{ story.headLine }}</p>
      <p class="spacer"></p>

      @if(story.isImage) {
      <img class="resize-both responsive" src="{{ story.image }}" alt="{{ story.headLine }}" />
      <p class="spacer"></p>
      <span class="helvetica keep-all flow-text justify guard" [innerHTML]="story.cSummery"></span>
      } @if(!story.isImage) {
      <span class="helvetica keep-all flow-text justify guard" [innerHTML]="story.cStory"></span>
      }
      <p class="spacer"></p>
      @if (story.latest_major_action && story.latest_major_action_date) {
      <p class="brutal-text smaller float-right">
        {{ story.latest_major_action_date }}
      </p>
      <blockquote class="helvetica justify">
        {{ story.latest_major_action }}
      </blockquote>
      }
      @if (story?.account?.twitter_account) {
      <button class="flood full-btn bitshadow" (click)="openTwitter(story?.account?.twitter_account)">
        &#64;{{story?.account?.twitter_account}}
      </button>
      }
    </div>
    } } @else {
    <p class="helvetica larger">No Stories</p>
    }
  </div>
  @if (isLoading) {
  <div class="brickbuild"></div>
  }
</div>