<!-- <div class="tabs">
  @for (tab of tabs; track $index) {
    <input type="radio" [id]="tab.name" [name]="tab.name" [checked]="tab.checked">
    <label [for]="tab.name" class="" (click)="getDataBasedOnTags(tab)">{{tab.name}}</label>
  }
</div> -->

<div class="black">
  <div class="wrap-1600">
    <div class="body flow-text lucida flex" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()">
      <div class="full padded b-a-f white-b neon-text shine">
        <div class="bitstream flex">
          <form class="grey-t" [formGroup]="searchForm">
            <div class="form-group">
              <input formControlName="search" type="text" name="search" placeholder="🔎 Reps or topics.." />
            </div>
          </form>
        </div>

        @if(repsNames && repsNames.length) {
        <div class="reps-flex">
          @for (tab of repsNames; track $index) {
          <button class="sand"><a [routerLink]="['/subscriber-view', tab.id]">
              {{ tab.name }}
            </a></button>
          }
        </div>
        }
      </div>

      <!-- <div
      class="full-height-scrollable-container half padded black-b b-a-f neon-text shine"
    >
      <div class="bitstream flex">
        <form class="grey-t" [formGroup]="searchForm">
          <div class="form-group">
            <input
              formControlName="search"
              type="text"
              name="search"
              placeholder="Search for..."
            />
          </div>
        </form>
      </div>

      @if (isSearching) {
      <p class="shine bouncy">Searching...</p>
      <p class="spacer"></p>
      } @if (headLines) {
      <div class="ul">
        @for (bill of headLines; track bill.id) {
        <p class="spacer"></p>
        <button
          class="glitchtext left-align"
          (click)="changeRoute(bill.bill_id)"
        >
          {{ bill.headLine }}
        </button>
        }
      </div>
      } @else {
      <div class="ul">
        <p class="neon-text">No Headlines</p>
      </div>
      }
    </div> -->
      @if (stories) { @for (story of stories; track $index && story.bill_id) {
      @if (story.billsummery[0].summary || story.billsummery[0].story) {
      <div class="padded b-b-k white-b full" (click)="changeRoute(story.bill_id)"
        [ngClass]="$index === 0 ? 'half' : story.className" [routerLink]="['/story', story.bill_id]">
        <p class="impact larger white-t">{{ story?.billsummery[0]?.headLine }}</p>
        <!-- <p class="spacer"></p> -->
        @if (story.latest_major_action && story.latest_major_action_date) {
        <p class="mint-t smaller float-left">
          {{ story.latest_major_action_date | date }}
        </p>
        <p class="helvetica smaller white-t">
          {{ story.latest_major_action }}
        </p>
        <p class="spacer"></p>
        <span class="helvetica  keep-all justify guard white-t summary-text" [innerHTML]="story.cSummery"></span>

        <!-- <p class="spacer"></p> -->

        <!-- @if(story.isImage) {
        <img class="invert resize-both responsive" src="{{ story?.billsummery[0]?.image }}"
          alt="{{ story?.billsummery[0]?.headLine }}" />
        <p class="spacer"></p>
        <span class="helvetica  keep-all justify guard white-t summary-text" [innerHTML]="story.cSummery"></span>
        } @if(!story.isImage) {
        <span class="helvetica keep-all justify guard white-t summary-text" [innerHTML]="story.cSummery"></span>
        } -->
        <p class="spacer"></p>
        } @if (story?.account?.twitter_account) {
        <button class="full-btn white-t gray" (click)="openTwitter(story?.account?.twitter_account)">
          &#64;{{ story?.account?.twitter_account }}
        </button>
        }
      </div>
      }
      } } @else {
      <br>
      <br>
      <p class="comfortable helvetica larger baffle-longer">Follow the Bills...</p>
      <p class="helvetica comfortable">Search for reps or specific topics to see what Congress is doing about
        issues
        that matter.</p>
      }
    </div>
    @if (isLoading) {
    <div class="brickbuild"></div>
    }
  </div>
</div>