<app-navbar></app-navbar>

<app-title></app-title>

<div class="wrap-1600 table-responsive">
  <div class="flex flow-text impact lucida">
    <!-- <aside class="sidebar padded b-s-t black-b heat">
      <h3 class="helvetica heavy fluid-text">Government</h3> -->
    <!-- </aside> -->
    <!-- <main class="full center padded b-s-t black-b heat">
      <h6 class="fluid-text">Follow the Bills</h6>
    </main> -->
  </div>
  <app-content></app-content>
  <!-- two columns -->
  <p class="spacer"></p>
  <p class="spacer"></p>
</div>

<app-footer></app-footer>