<app-navbar></app-navbar>

<app-title></app-title>

<app-divider></app-divider>

<div class="wrap-1600 table-responsive">
  <div class="flex flow-text lucida">
    <aside class="sidebar padded b-s-t black-b heat">
      <h3 class="courier fluid-text glitchtext">Follow</h3>
    </aside>
    <main class="main padded b-s-t black-b infinitile">
      <h3 class="fluid-text">The Bills</h3>
    </main>
  </div>
  <app-content></app-content>
  <!-- two columns -->
  <p class="spacer"></p>
  <p class="spacer"></p>
</div>

<app-footer></app-footer>