<!-- PAGE -->
<header class="padded flex middle" id="uptop" style="min-height: 25vh; margin-bottom: 0;">
	<h1 class="fluid-text courier center fittext"><i class="bi bi-heat"></i><br />Other Party</h1>
</header>

<div class="wrap-1200 emptiness padded">
	<div class="lucida center">
		<h2 class="fluid-text baffle-longer brickbuild mint-t rice-t-s" style="margin: 0; padding: 0;">Follow the
			Bills</h2>
	</div>
</div>

<!-- jagged checkerboard divider -->
<div class="clear-block jagged">
	<p class="checkerboard padding"></p>
</div>

<!-- flexbox layout -->
<div class="wrap-1600">
	<div class="flex flow-text lucida">
		<aside class="sidebar padded b-s-t black-b heat">
			<h3 class="courier fluid-text glitchtext">Hot</h3>
		</aside>
		<main class="main padded b-s-t black-b infinitile">
			<h3 class="fluid-text">Off the Floor</h3>
		</main>

	</div>
	<div class="flex flow-text lucida">
		<div class="third padded black-b b-a-f neon-text shine">
			<div class="ul">
				<p class>Agriculture Workforce</p>
				<br>
				<p>Urban Waters</p>
				<br>
				<p>Fire Forecasts</p>
				<br>
				<p>Coal, Oil, and Gas Investments</p>
				<br>
				<p>Increase in Federal Minimum Wage</p>
				<br>
				<p>Virtual Currencies</p>
				<br>
				<p>DC Zoning</p>
				<br>
				<p>Medicare Provider Transparency</p>
			</div>

		</div>
		<!-- two columns -->
		<div class="third padded b-s-t black-b">
			<p class="helvetica larger">Dairy Innovation</p>
			<p class="chop-16">Congressman Derrick Van Orden (WI) has submitted a bill to the House Committee on Agriculture
				that seeks to amend the Agriculture Improvement Act of 2018. If passed, the bill would reauthorize the dairy
				business
				innovation initiatives, which provide support to dairy businesses in order to help them remain competitive in
				the marketplace. The bill is currently under consideration by the committee.</p>
			<br>
			<br>
			<p>X &#64;RepVanOrden</p>
		</div>
		<div class="third padded b-s-t black-b">
			<p class="helvetica larger">Health Profession Opportunity Grant</p>
			<p>Representative Jimmy Panetta (CA) recently introduced a bill to the House Committee on Ways and Means that
				would improve training requirements for health profession opportunity grant programs and exclude assistance
				provided by those programs from income tax. The bill has been referred to the House Committee on Ways and
				Means for further consideration.</p>
			<br>
			<br>
			<p>X &#64;RepJimmyPanetta</p>
		</div>
		<!-- three columns -->
		<div class="half padded b-s-t black-b">
			<p class="helvetica larger">Sustainable Aviation</p>
			<p>The Federal Aviation Administration (FAA) has introduced a new bill to the House Committee on Transportation
				and Infrastructure, which aims to identify the standards required to meet the definition of sustainable
				aviation fuel. The bill was introduced by Mike Flood, the FAA's NER, and is currently under review by the
				House Committee. If passed, the bill would set out a framework for the standards that sustainable aviation
				fuel must meet in order to be used in the aviation industry. The bill is part of the FAA's efforts to reduce
				emissions and promote sustainability in the aviation industry.</p>
			<br>
			<br>
			<p>X &#64;USRepMikeFlood</p>
		</div>
		<div class="half padded b-s-t black-b">
			<p class="helvetica larger">Veteran Loan Extensions</p>
			<p>Congressman Vicente Gonzalez of Texas has recently introduced a bill to amend the Federal Credit Union Act,
				which would exclude extensions of credit made to veterans from the definition of a member business loan. The
				bill has been referred to the House Committee on Financial Services for further consideration. If passed, the
				bill would provide veterans with additional access to credit and other financial services.</p>
			<br>
			<br>
			<p>X &#64;RepGonzalez</p>
		</div>
		<div class="third padded b-s-t black-b">
			<p class="helvetica larger">Birthright Citizenship</p>
			<p>Congressman Matt Gaetz of Florida has introduced a bill to amend the Immigration and Nationality Act to
				clarify the application of birthright citizenship. The bill was referred to the House Committee on the
				Judiciary for consideration and further action. If passed, the bill would provide clarification on who is
				eligible for birthright citizenship.</p>
			<br>
			<br>
			<p>X &#64;RepMattGaetz</p>
		</div>
		<!-- four columns -->
		<div class="third padded b-s-t black-b">
			<p class="helvetica larger">Food Supply Chain</p>
			<p>U.S. Representative Ro Khanna (CA) has introduced a bill that would increase the capacity of the food supply
				chain in the United States by codifying and expanding the Food Supply Chain Guaranteed Loan Program. The bill
				is intended to create a more resilient, diverse, and secure United States food supply chain. The bill has been
				referred to the House Committee on Agriculture for further consideration.</p>
			<br>
			<br>
			<p>X &#64;RepRoKhanna</p>
		</div>
		<div class="third padded b-s-t black-b">
			<p class="helvetica larger">Scientific Integrity</p>
			<p>Congressman Paul Tonko (D-NY) has introduced a new bill to the House of Representatives which would amend the
				America COMPETES Act to establish scientific integrity policies for Federal agencies that fund, conduct, or
				oversee scientific research. The bill has been referred to the House Committee on Science, Space, and
				Technology for consideration. If passed, the bill would require Federal agencies to adhere to certain
				scientific integrity policies to ensure the accuracy and consistency of scientific research.</p>
			<br>
			<br>
			<p>X &#64;RepPaulTonko</p>
		</div>
		<div class="half padded b-s-t black-b">
			<p class="helvetica larger">Multi-Cloud Computing</p>
			<p>Congressman William Timmons has recently introduced a bill to the House Committee on Oversight and
				Accountability that would promote the use of multi-cloud computing software technology in the Federal
				Government. The goal of the bill is to increase innovation and efficiency in the government. The bill is
				currently under review by the House Committee on Oversight and Accountability.</p>
			<br>
			<br>
			<p>X &#64;RepTimmons</p>
		</div>
		<div class="half padded b-s-t black-b">
			<p class="helvetica larger">Incarcerating Parents</p>
			<p>Sen. Ron Wyden (D-OR) recently introduced a bill to Congress that aims to reduce the incarceration of parents
				of minor children, expectant parents, and other caregivers. The bill would divert these individuals from
				incarceration and into comprehensive programs providing resources, services, and training to those individuals
				and their families. The bill has been read twice and referred to the Committee on the Judiciary. If passed,
				the bill could lead to a decrease in the number of parents and caregivers who are incarcerated.</p>
			<br>
			<br>
			<p>X your mind</p>
		</div>
	</div>
	<p class="spacer"></p>
	<p class="spacer"></p>
	<p class="center flow-text padded lucida"><a href="#vanilla" data-modal-open
			class="btn rounded large-btn box-s pool-party hue-h">Vanilla MODAL</a></p>
	<p class="spacer"></p>
</div>

<footer class="padded center courier disabled">
	<p><a href="https://www.brutalistframework.com" target="_blank">Brutalist Framework</a> &copy; 2023</p>
</footer>


<!-- Vanilla Modal -->
<div id="vanilla" style="display:none;">
	<div class="wrap-960 info padded" style="max-width: 468px;">
		<h4 class="flow-text lucida"><i class="bi bi-cone bi-4x"></i> <strong>Vanilla Modal</strong></h4>
		<hr class="charlie" />
		<p class="flow-text courier">I am a simple vanilla modal that requires <em>buix.js</em> to function.</p>
	</div>
</div>
<!-- Initiate and display modal itself -->
<div class="modal">
	<div class="modal-inner draggable">
		<!-- Remove "draggable" class to prevent modals from being moveable -->
		<span data-modal-close>&times;</span>
		<div class="modal-content"></div>
	</div>
</div>


<!-- Core Scripts -->


<!-- </html> -->