<div class="reveal toggle blonk-wrap">
	<input id="blonknav" class="toggle" type="checkbox">
	<label for="blonknav" class="label-toggle blonk-tr shape quadrant bottom-left flex middle red"><i class="bi bi-menu bi-3x"></i></label>
	<div class="toggle-content">
		<div class="padded emptiness bitstream flex">
			<ul class="simple-nav two-col flow-text monolisk">
				<li class="home"><a href="https://www.brutalistframework.com" target="_blank">BrutalistFramework.com</a></li>
				<li><a href="https://www.brutalistwebdesign.com" target="_blank"><i class="bi bi-reference"></i> BrutalistWebDesign.com</a></li>
			</ul>
			<ul class="simple-nav two-col flow-text" style="width: 100%; border-top: 2px solid #fff;">
				
			</ul>
			<ul class="simple-nav two-col flow-text" style="width: 100%; border-top: 2px solid #fff;">
				
			</ul>
			<ul class="simple-nav flow-text two-col" style="width: 100%; border-top: 2px solid #fff;">
				
			</ul>
			<ul class="simple-nav two-col monolisk flow-text" style="width: 100%; border-top: 2px solid #fff;">
				
			</ul>
		</div>
	</div>
</div>
<a href="#uptop" class="blonk-cr rebecca shape semicircle west white-t monolisk lighten-h"><i class="bi bi-up bi-3x"></i><br />top</a>
<a href="#download" class="blonk-br sweden shape quadrant top-left white-t monolisk invert-h" data-modal-open><i class="bi bi-download bi-2x"></i><br />download</a>