<div class="story-card">
  <button
    type="button"
    class="story-card__header"
    [attr.aria-expanded]="expanded"
    (click)="onHeaderClick()"
  >
    <p class="impact larger white-t">{{ story?.billsummery?.[0]?.headLine }}</p>

    <div class="meta" *ngIf="story?.latest_major_action && story?.latest_major_action_date">
      <p class="mint-t smaller float-left">
        {{ story.latest_major_action_date | date }}
      </p>
      <p class="helvetica smaller white-t">
        {{ story.latest_major_action }}
      </p>
    </div>

    <span
      class="helvetica keep-all justify guard white-t summary-text"
      [innerHTML]="story?.previewHtml || story?.cSummery"
    ></span>
  </button>

  <div class="toggle-content" [class.is-open]="expanded" [attr.aria-hidden]="!expanded">
    <ng-container *ngIf="isAuthenticated; else guestView">
      <ng-container *ngIf="story?.billTextSummary">
        <span
          class="helvetica keep-all justify guard white-t summary-text"
          *ngIf="story?.fullSummaryHtml && story?.fullSummaryHtml !== story?.previewHtml"
          [innerHTML]="story?.fullSummaryHtml"
        ></span>

        <span
          class="helvetica keep-all justify guard white-t summary-text"
          *ngIf="story?.fullStoryHtml && story?.fullStoryHtml !== story?.fullSummaryHtml"
          [innerHTML]="story?.fullStoryHtml"
        ></span>

        <span
          class="helvetica keep-all justify guard white-t summary-text"
          [innerHTML]="story?.billTextSummary"
        ></span>
      </ng-container>

      <div class="story-card__actions" *ngIf="story?.bill_id || story?.account?.twitter_account">
        <button
          type="button"
          class="story-card__cta story-card__cta--primary"
          *ngIf="story?.bill_id"
          (click)="onViewDetails($event)"
        >
          Get updates
        </button>

        <button
          type="button"
          class="story-card__cta story-card__cta--secondary story-card__cta--twitter"
          *ngIf="story?.account?.twitter_account"
          (click)="onOpenTwitter($event)"
        >
          &#64;{{ story?.account?.twitter_account }}
        </button>
      </div>
    </ng-container>

    <ng-template #guestView>
      <span
        class="helvetica keep-all justify guard white-t summary-text"
        *ngIf="story?.billTextPreview"
        [innerHTML]="story?.billTextPreview"
      ></span>

      <a routerLink="/register" class="story-card__deep-link">Get it in-depth</a>

      <div class="story-card__actions">
        <a routerLink="/register" class="story-card__cta story-card__cta--primary">Subscribe</a>
        <a routerLink="/login" class="story-card__cta story-card__cta--secondary">Login</a>
        <button
          type="button"
          class="story-card__cta story-card__cta--secondary story-card__cta--twitter"
          *ngIf="story?.account?.twitter_account"
          (click)="onOpenTwitter($event)"
        >
          &#64;{{ story?.account?.twitter_account }}
        </button>
      </div>
    </ng-template>
  </div>
</div>
