<div class="sand container">
  <div class="forgot-password">
    <h2>Reset Password</h2>
    <p>Provide the email associated with your profile.</p>
    <form>
      <!-- <label for="email">Email *</label> -->
      <input type="email" id="email" required>
      <button class="mint-t" type="submit">Submit</button>
    </form>
    <p>This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of
        Service</a> apply.</p>
  </div>
  <div class="sand logo small-thumb center pointer"><img src="./assets/img/Otherparty_final-logo.png"></div>
</div>