html, body {
  margin: 0; /* Remove default body margins */
  padding: 0; /* Remove default body padding */
  height: 100%; /* Full height for body */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #f0f0f0; /* Optional: Set a background color */
}

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%; /* Allow full width for responsiveness */
  padding: 20px; /* Padding around the container */
  box-sizing: border-box; /* Include padding in width */
}

.forgot-password {
  // background-color: #f7f7f7;
  padding: 20px; /* Inner padding */
  border-radius: 5px; /* Rounded corners */
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  width: 300px; /* Fixed width for the form */
  margin-top: 15px;
}

input[type="email"], button {
  width: 100%; /* Full width for inputs and buttons */
  padding: 10px; /* Consistent padding */
  margin: 5px 0; /* Space between elements */
  margin-top: 10px;
  // box-sizing: border-box; /* Include padding in width */
}

.forgot-password button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password p {
  margin-top: 10px
}

// h2 {
//   text-align: center; /* Center heading text */
// }

p {
  font-size: 12px;
}
