<!-- <div class="sand container">
  <div class="forgot-password">
    <h2>Reset Password</h2>
    <p>Provide the email associated with your profile.</p>
    <form>
      <input type="email" id="email" required>
      <button class="mint-t" type="submit">Submit</button>
    </form>
    <p>This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of
        Service</a> apply.</p>
  </div>
  <div class="sand logo small-thumb center pointer"><img src="./assets/img/Otherparty_final-logo.png"></div>
</div> -->


<div class="sand body">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="verify-profile">
      <h1>Reset Password</h1>
      <p>Provide the email associated with your profile.</p>
      <form [formGroup]="resetPassWordFrom" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="One-time Password *" formControlName="email">
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']">email is required.</small>
          <small *ngIf="email?.errors?.['pattern']">email must be valid.</small>
        </div>

        <button class="mint-t" type="submit" [disabled]="resetPassWordFrom.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>