<div class="sand body">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="verify-profile">
      <h1>Reset Password</h1>
      <p>Provide the email associated with your profile.</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Email *" formControlName="email">
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']">email is required.</small>
          <small *ngIf="email?.errors?.['pattern']">email must be valid.</small>
        </div>

        <button class="mint-t" type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>