<body class="sand">
  <app-navbar></app-navbar>
  <br>
  <br>
  <p class="helvetica larger bold">Choose the plan that's right for you</p>
  <br>
  <br>
  <div class="plans-container">
    <div class="info-tile black white-t b-s-t mint-b">
      <button class=" btn-full mint">
        <p class="impact larger black-t">Free</p>
      </button>
      <br>
      <div class="details">
        <p><strong>Monthly price</strong><br>$0</p>
        <p><strong>Bill overviews</strong><br>Yea</p>
        <p><strong>Social integration</strong><br>Yea</p>
        <p><strong>Policy summaries</strong><br>Nay</p>
        <p><strong>Congressional Record</strong><br>Nay</p>
        <p><strong>Hearings</strong><br>Nay</p>
        <p><strong>Alerts</strong><br>Nay</p>
      </div>
      <p class="white-t helvetica larger glitchtext center">
        Subscribe</p>
    </div>
    <div class="info-tile black white-t b-b-k mint-b">
      <button class="btn-full shine">
        <p class="impact larger">Jefferson</p>
      </button>
      <br>
      <div class="details">
        <p><strong>Monthly price</strong><br>$2</p>
        <p><strong>Bill overviews</strong><br>Yea</p>
        <p><strong>Social integration</strong><br>Yea</p>
        <p><strong>Policy summaries</strong><br>Yea</p>
        <p><strong>Congressional Record</strong><br>Nay</p>
        <p><strong>Hearings</strong><br>Nay</p>
        <p><strong>Alerts</strong><br>Nay</p>
      </div>
      <p class="white-t helvetica larger glitchtext center">
        Subscribe</p>
    </div>
    <div class="info-tile black white-t b-s-f mint-b">
      <button class="btn-full heat">
        <p class="impact larger">Lincoln</p>
      </button>
      <br>
      <div class="details">
        <p><strong>Monthly price</strong><br>$5</p>
        <p><strong>Bill overviews</strong><br>Yea</p>
        <p><strong>Social integration</strong><br>Yea</p>
        <p><strong>Policy summaries</strong><br>Yea</p>
        <p><strong>Congressional Record</strong><br>Yea</p>
        <p><strong>Hearings</strong><br>Yea</p>
        <p><strong>Alerts</strong><br>Yea</p>
      </div>
      <p class="white-t helvetica larger glitchtext center">
        Subscribe</p>
    </div>
  </div>
  <br>
  <br>
  <app-footer></app-footer>
</body>