<div class="body">
  <div class="container">
    <div class="verify-profile">
      <h1>Verify Profile.</h1>
      <form [formGroup]="verifyUserForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="One-time Password *" formControlName="otp">
        <div *ngIf="otp?.invalid && otp?.touched">
          <small *ngIf="otp?.errors?.['required']">OTP is required.</small>
          <small *ngIf="otp?.errors?.['pattern']">OTP must be a 6-digit number.</small>
        </div>

        <button type="submit" [disabled]="verifyUserForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>